body{
    /* background: rgb(194,192,222);
    background: linear-gradient(90deg, rgba(194,192,222,1) 0%, rgba(153,140,212,1) 26%, rgba(132,127,213,1) 100%); */
    background: rgb(233, 233, 233);
}

html{
    scroll-behavior: smooth;
}

#logo-img{
    width: 130px;
}
.navbar {
    border-bottom: #6C63FF 3px solid;
    opacity: .9;
    padding: 0px;
}

#home-section{
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

section{
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding-top: 65px;
}

.img-card{
    background: rgb(195, 211, 206);
    color: black;
    padding: 0;
}

.dark-overlay{
    background-color: rgba(0, 0, 0, .6);
    position: inherit;
    left: 0;
    top: 0;
    width: 100%;
    min-width: 100%;
}

#inner-home{
    padding-top: 40vh;
    min-height: 100vh;
}

@media (max-width: 992px){
    #inner-home{
        padding-top: 30vh;
    }
}

#img-header{
    transform-style: preserve-3d;
    transition-duration: 3s;
}

#img-header:hover{
    transform: translatex(5%) rotateX(20deg) rotateZ(0deg) rotateY(0deg);
    transition-duration: 3s;
}

#text-header{
    transform-style: preserve-3d;
    transition-duration: 5s;
}

#text-header:hover{
    transform: translatex(-5%) rotateX(-20deg) rotateZ(-0deg);
    transition-duration: 5s;
}

.text1{
    /* color: ivory; */
    color: #6C63FF;
}

#titulo{
    /* font-family: 'Bevan';    */
    color: #6C63FF; 
}

#api{
    width: 90px;
}

textarea{
    resize: none;
}

figure {
    border-radius: 0.5rem;
}

.blur {
    backdrop-filter: blur(10px);
    /* background: #7b4fad;
    opacity: 0.8; */
    margin-bottom: 1rem;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.6);
    text-shadow: 1px 1px 2px black;
}

figure img{
    margin: auto;
}

.boton-top{
    cursor: pointer;
    position: fixed;
    background: #6C63FF;
    color: white;
    background-repeat:no-repeat;
    border-radius: 50% 50%;
    bottom: 50px;
    right: 50px;
    z-index: 10;
}

/* Popup container - can be anything you want */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }